.form-card {
  min-height: 300px;
  max-height: 300px;
  min-width: 320px;
  max-width: 320px;
  margin-top: 30px;
  display: block;
}

.account-btn-div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-msg {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.account-error-div {
  margin-top: 10px;
  width: 170px;
  align-items: center;
  justify-content: center;
}

.delete-account-div {
  margin-top: 10px;
  margin-bottom: 200px;
  align-items: center;
  justify-content: center;
}

.Button {
  margin-right: 20px;
}

.mt-2 {
  margin-top: 10px;
}

.loginText {
  color: #007bf0;
  font-weight: bold;
  cursor: pointer;
}

.field {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 2px;
}

.form {
  text-align: left;
  display: grid;
  margin-top: 30px;
}

.account-menu {
  width: 154px;
}

.account-menu li {
  justify-content: center;
}

.account-menu li:hover {
  background-color: #bbdefb; /* Dark grey background on mouse-over */
}

.account-greeting {
  padding: 10px;
  font-weight: bold;
}

.account-new-greeting {
  padding: 10px;
  font-size: smaller;
}

.register-link {
  color: red;
}

.register-link:hover {
  background-color: #bbdefb;
}

.grid-box {
  min-width: 400px;
  max-width: 400px;
  margin-top: 30px;
  display: grid;
}

.account-label {
  text-align: left;
  font-size: smaller;
}

.account-input {
  text-align: left;
  margin-bottom: 15px;
}

.all-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.simple-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cart-box {
  display: block;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cart-card {
  width: 100%;
  margin: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-product-price.cart-product-price {
  margin: 10px;
  align-self: flex-end;
  font-size: x-large;
}

.cart-image.cart-image {
  align-self: flex-start;
  margin: 10px;
}

.cart-content.cart-content {
  flex: 1;
  flex-grow: 2;
  align-self: stretch;
  margin: 10px;
}

.cart-content-item {
    display: flex;
    margin: 10px;
}


.margin-10{
    margin:10px;
}

.margin-15{
    margin:15px;
}

.orders-list {
  width: 600px;
}

.box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.product-card {
  width: 300px;
  margin: 10px 20px;
}

.add-to-cart-button.add-to-cart-button {
  float: right;
}

.product-preview {
  width: 200px;
}

.h-separator {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 1px;
  background: #777777;
  border-bottom: 1px solid #333333;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.v-separator {
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  background: #777777;
  border: 1px solid #333333;
}

.grid-item {
  width: 50%;
  margin: 0 auto;
}

.payment-div {
  display: contents;
}

.mw-400 {
  min-width: 400px;
}

.total {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  display: flex;
}

.cart-item-buttons {
  display: grid;
  grid-template-columns: 25% 20% auto;
  width: 100%;
}

.cart-item-description {
  height: 45%;
  margin: 10px;
}